body, td, th, div, span, input, select, textarea { font:12px dotum; color:#7c7b7b; margin: 0px; line-height:16px;padding:0;  }
img, th, td { border:0; }
li, ul { list-style:none; margin:0; padding:0; }
textarea { border:1px solid #d1d1d1; }
input, select, label { vertical-align:middle; }
a:link { color:#7c7b7b; text-decoration: none; line-height:16px; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; color:#0b96d4; }
a:active { text-decoration: none; color:#0b96d4; }
#login { width:970px; height:18px; text-align:right; padding-top:15px; background:url(/images/main/bg_login.gif) no-repeat; padding-right:30px; }
#logo { padding-left:30px; width:290px; height:77px; background:url(/images/main/bg_logo.gif) no-repeat; }
#main { width:970px; height:308px;}
#content { width:100%; margin:30px 20px 30px 20px; }
#quick { height:420px; vertical-align:top; border-left: #dfdfdf 1px solid ;border-right: #dfdfdf 1px solid }
.social { padding-left:8px; width:231px;}
.box1 {width:440px; height:439px; border: solid 1px #c1c1c1;vertical-align:top;background-color:#fff;}
.box2 {width:230px; border: solid 1px #c1c1c1;vertical-align:top;background-color:#fff;}
.box3 {width:456px; height:439px; border: solid 1px #c1c1c1;vertical-align:top;background-color:#fff;}
.box4 {width:934px; height:225px; border: solid 1px #c1c1c1;vertical-align:top;background-color:#fff;}
.font_11 { font:11px dotum; color:#7e7e7e;line-height:25px; }
.font_c { font:12px dotum; color:#7e7e7e;line-height:20px; }
