<form id='fboardpassword' name='fboardpassword' method='post' action='<?=RT_PATH?>/<?=$action?>'>
<?=INPUT_ADMIN?>
<input type='hidden' name='w'           value='<?=$w?>'/>
<input type='hidden' name='bid'    value='<?=BO_TABLE?>'/>
<input type='hidden' name='wr_id'       value='<?=$wr_id?>'/>
<input type='hidden' name='comment_id'  value='<?=$comment_id?>'/>
<input type='hidden' name='qstr'  		value='<?=$qstr?>'/>

<div id='pwd_wrap'>
	<div id='pwd_title'><b>&gt;&gt; <?=$_TITLE_?></b></div>
	<div id='pwd_cont'>
		<span><label for='wr_password'>&deg; <b>비밀번호</b></label></span>
		<span><input type='password' id='wr_password' name='wr_password' class='ed' maxlength='20' size='15' onkeypress="javascript:check_capslock(event, this);"/></span>
		<span><input type='image' src='<?=BO_IMG_PATH?>/btn_confirm.gif'/></span>
	</div>
	<p>이 게시물의 비밀번호를 입력하십시오.</p>
</div>

</form>

<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#fboardpassword').validate({
		rules: { 
			wr_password: { required:true, minlength:3 }
		},
		messages: {
			wr_password: { required:'비밀번호를 입력하십시오.', minlength:'최소 3자 이상 입력하십시오.' }
		},
		errorPlacement: function(error, element) {
			error.appendTo(element.parent().parent());
		}
	});
});
//]]>
</script>
