/* Reset */
/* * { margin:0; padding:0; } */
html { overflow-y:scroll; }
html, body { width:100%; height:100%; }
body { *word-break:break-all; -ms-word-break:break-all; margin:0; padding:0; }
body, input, button { font-size:12px; font-family:"돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; color:#383d41; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
table, tr, td { font-size:12px; }
img, fieldset, iframe { border:0 none; }
ul, li { list-style:none; margin:0; padding:0; }
a { color:#2f3743; text-decoration:none; }
a:hover { color:#1177dd; text-decoration:underline; }
textarea { overflow:auto; }
html:first-child select { height:20px; padding-right:6px; }
option { padding-right:6px; }
em,address { font-style:normal; }
button { cursor:pointer; _cursor /**/:hand; }
button * { position:relative; }
button img { left:-3px; *left:auto; }
behavior: url(ie-css3.htc);

/* Common */
#content td {}
#kcaptcha { cursor:pointer; }
label.error { display:block; color:red; } /* jvalid */
.ed { border:1px solid #CCCCCC; padding:2px; _height:20px; } /* input */
.tx { border:1px solid #CCCCCC; padding:5px; font-size:12px; } /* textarea */
.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.hide { display:none; }
.lh0 { line-height: 0; }
.tPd5 { padding-top: 5px; }
.bPd5 { padding-bottom: 5px; }
.b { font-weight:bold; }
.bd0 { border:0 !important; }
.cb { clear:both; }

.w755 { width:755px; }
.w100p { width:100%; }

.fL { float:left; }
.fR { float:right; }

.vaT { vertical-align: top; }
.vaM { vertical-align: middle; }
.vaB { vertical-align: bottom; }

.tdLT { text-decoration:line-through; }

/* input option */
.imeDis { ime-mode:disabled; }

/* popup */
.layer_popup { position:absolute; z-index:100; overflow:hidden; border:1px #e6e6e6 solid; }

/* sideview */
.member { font-weight:bold; color:#888888; }
.guest  { font-weight:normal; color:#888888; }
#sideview { margin:5px 0 0 0; width:90px; border:1px solid #E0E0E0;  }
#sideview ul li span { color:#A0A0A0; font-family:돋움; font-size:11px; }

/* ajax */
#loading { display:none; position:absolute; width:100px; height:100px; top:50%; left:50%; margin-top:-50px; margin-left:-50px; z-index:1; background:url(/img/js/load_ajax3.gif) no-repeat; }

/* search_font */
.sFont { background-color:#fffc00; color:#ff0000; } 

/* file upload input */
.fileInput { width:54px; position:relative; top:-2px; vertical-align:middle; border-width:0; cursor:pointer; opacity:0; -ms-opacity:0; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; }
.fileInputVi { position:relative; top:-3px; }
.fileButton { position:relative; left:-58px; top:3px; z-index:-1; background:url('/images/btn_search02.jpg'); }

/* banner */
.banner_scr_w, .banner_scr_h, .banner_nor { overflow-y:hidden; }
.banner ul { margin:0; padding:0; }
.banner li { float:left; }

/* slider */
.slidelist01 li { padding:0 5px; }

/* editor */
#tx_attach_div dl, #tx_attach_div  dt, #tx_attach_div  dd { margin:0 !important; padding:0 !important; width:auto !important; background:none !important; line-height:150%; }

/* color */
.gray { color:#c0c0c0; }
.dgray { color:#a0a0a0; }

/* margin */
.mg5 { margin:5px; }
.mT5 { margin-top:5px; }
.mB5 { margin-bottom:5px; }
.mL5 { margin-left:5px; }
.mR5 { margin-right:5px; }
.mg10 { margin:10px; } 
.mT10 { margin-top:10px; }
.mB10 { margin-bottom:10px; }
.mL10 { margin-left:10px; }
.mR10 { margin-right:10px; }

/* padding */
.pd5 { padding:5px; }
.pT5 { padding-top:5px; }
.pB5 { padding-bottom:5px; }
.pL5 { padding-left:5px; }
.pR5 { padding-right:5px; }
.pd10 { padding:10px; }
.pT10 { padding-top:10px; }
.pB10 { padding-bottom:10px; }
.pL10 { padding-left:10px; }
.pR10 { padding-right:10px; }

/* button */
.btn_simp {
	border:1px solid #c6c6c6;
	font-family:dotum, arial, 돋움;
	background: #F8F8F8;
	cursor:pointer;
	color:#666;	
	font-size:11px;
	letter-spacing:-1px;
	margin:0px;
	padding:0px 3px;
	height:22px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	outline:none;
}