<link rel="stylesheet" type="text/css" href="/css/board.css" />

<? include DOC_ROOT ."/include/06_inc.php"; ?>
<br /><br />

<? include DOC_ROOT ."/include/06_02_inc.php"; ?>
<br />

<h3><img src="/img/sub/06_02_<?=$cate_info['no']?>_h3_txt01.gif" alt="<?=$cate_info['title']?>" /></h3>

<div class="board">
	<table border="0" class="basic" summary="게시물 목록을 볼 수 있고 제목 링크를 통해서 게시물 상세 내용으로 이동합니다.">
		<caption class="dpn">게시물 목록</caption>
		<col style="width:10%;" />
		<col />
		<col style="width:10%;" />
		<col style="width:20%;" />
		<thead class="tb">
			<tr>
				<th scope="col" class="first"><div>번호</div></th>
				<th scope="col">제목</th>
				<th scope="col">접수현황</th>
				<th scope="col" class="last">접수기간</th>
			</tr>
		</thead>
		<tbody class="tb">
			
			<? foreach($list AS $row) : ?>
			<tr class="row1">
				<th scope="row" class="first"><?=$row['no']?></th>
				<td class="subject"><a href="<?=$row['href']?>"><?=$row['subject']?></a></td>
				<td><img src="/img/board/accept_<?=$row['status']?>.gif" width="52" height="19" alt="<?=$row['status_str']?>" /></td>
				<td class="last"><?=$row['sdate']?>~<?=$row['edate']?></td>
			</tr>
			<? endforeach; ?>
			
			<? if(!$list) : ?>
		    <tr>
				<td colspan="4" style="height:100px !important; text-align:center;">등록된 교육이 없습니다.</td>
			</tr>
			<? endif; ?>
			
		</tbody>
	</table>
</div>

<div class="paging">
	<?=$paging?>
</div>

<div class="center">
	<div class="search">
		<form name='fsearch' method='post' action='/edu/lists<?=$qstr?>' onsubmit="return doSearch(this, 'edu/lists/cate/<?=$cate?>');">
			<fieldset>
				<legend class="dpn">상세검색</legend>
				<select name="sfl" title="검색옵션">
					<option value="0" <?=checked($sfl, 0, 'selected')?>>전체</option>
					<option value="1" <?=checked($sfl, 1, 'selected')?>>제목</option>
					<option value="2" <?=checked($sfl, 2, 'selected')?>>내용</option>
				</select>
				<input type="text" name="stx" value="<?=$stx?>" class="text" title="검색어" style="background:#f7f7f7" />
				<input type="image" src="/img/board/btn_search2.gif" alt="검색" class="image" />
			</fieldset>
		</form>
	</div>
</div>

<br />

<script type='text/javascript'>
//<![CDATA[
function doSearch(f, url) {
	var stx = f.stx.value.replace(/(^\s*)|(\s*$)/g,'');

	location.href = rt_path +'/'+ url +'/sfl/'+ f.sfl.value +'/stx/'+ sEncode(stx);
	return false;
}
//]]>
</script>