<form id='fwrite' name='fwrite' method='post' action='<?=$path?>/mail/skin_form'>
<input type='hidden' name='w'     value='<?=$w?>'/>
<input type='hidden' name='ms_id' value='<?=$row['ms_id']?>'/>
<input type='hidden' name='token' value='<?=$token?>'/>

<div id='form_title'>
	&deg; <b><?=$_TITLE_?></b>
</div>

<ul id="form_cont">
	<li class="form_li">
		<div>
			<h4>회원 메일 발송</h4>
			<dl>
				<dt>이 름</dt>
				<dd>
					<input type='text' id='ms_name' name='ms_name' class='ed' size="97" value='<?=$row['ms_name']?>'/>
				</dd>
				<dd class="bd0"><?=$editor?></dd>
				<dd class="dgray">본문출력: {{[_BODY_]}}<br/>
		       		[이름] , [별명] , [회원아이디] , [이메일] , [생일]<br/>
			   		위와 같이 HTML 코드에 삽입하면 해당 내용에 맞게 변환하여 메일 발송합니다.
			    </dd>
				
				<? if(isset($row['ms_regdate'])): ?>
				<dt>등록일</dt>
				<dd>
					<?=$row['ms_regdate']?>
				</dd>
				<? endif; ?>
				<? if(isset($row['ms_mdydate'])): ?>
				<dt>최종수정일</dt>
				<dd>
					<?=$row['ms_mdydate']?>
				</dd>
				<? endif; ?>
				
			</dl>
		</div>
	</li>
</ul>

<p class='center bottom editor' style="margin-top:30px;">
	<input type='submit' id='btn_submit' class='btn' value='  확  인  '/>&nbsp;
	<input type='button' class='btn' value='  목  록  ' onclick="document.location.href='<?=$path?>/mail/skin_lists';"/>
</p>

</form>

<div id='loading'></div>

<script type='text/javascript'>
//<![CDATA[
var beforeUnload = true;
window.onbeforeunload = function() {
	if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
}

$(document).ready(function() {
	$('#fwrite').validate({
		rules: {
			ms_name: 'required',
			wr_content: 'required'
		},
		messages: {
			ms_name: '제목을 입력하십시오.',
			wr_content: '내용을 입력하십시오.'
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		},
		submitHandler: function(f) {
            $('#btn_submit').remove();
			$('#loading').show();
			beforeUnload = false;
            Editor.save();
		}
	});
});
//]]>
</script>

<?=validation_errors('<script>alert("','");</script>');?>
