<h2><?=$_TITLE_?></h2>

<form id='fwrite' name='fwrite' method='post' enctype='multipart/form-data' action='<?=$path?>/banner/form'>
<input type='hidden' name='w'    value='<?=$w?>'/>
<input type='hidden' name='token' value='<?=$token?>'/>
<input type='hidden' name='bn_id' value='<?=$row['bn_id']?>'/>

<ul id="form_cont">
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 정보 입력</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
        	<tr>
            	<th>배너 이미지</th>
                <td colspan="3">
                	<?=$row['bn_image']?'<img src="/useful/thumbnail/180x60/ki_banner/?file='.$row['bn_image'].'&ratio=true"/><br/>':''?>
					<input type='file' id='bn_image' name='bn_image' class='ed' size='50' value='<?=$row['bn_image']?>'/>
					<input type='checkbox' id='bn_hidden' name='bn_hidden' value='1' <?=$row['bn_hidden']?'checked="checked"':''?>/> 숨김
					<p class='msgTip'>(최대 사이즈: Width <?=$max_size['w']?>px, Height <?=$max_size['h']?>px)</p>
				</td>
            </tr>
            <tr>
            	<th>링크 URL</th>
                <td colspan="3">
                	<input type='text' id='bn_url' name='bn_url' class='ed' size='50' value='<?=$row['bn_url']?>'/>
					<span class='msgTip'>(외부로 연결시 'http://'까지 입력)</span>
				</td>
            </tr>
            <tr>
            	<th>타겟</th>
                <td colspan="3">
                	<select id='bn_target' name='bn_target'>
						<option value='_self' <?=$row['bn_target']=='_self'?'selected="selected"':''?>>현재창</option>
						<option value='_blank' <?=$row['bn_target']=='_blank'?'selected="selected"':''?>>새창</option>
					</select>
				</td>
            </tr>
            <tr>
            	<th>배너 그룹</th>
                <td colspan="3">
                	<select name='bn_group'>
						<option value=''>선택</option>
						
						<? foreach($group as $val => $name): ?>
						<option value='<?=$val?>' <?=$val==$row['bn_group']?'selected="selected"':''?>><?=$name?></option>
						<? endforeach; ?>
						
					</select>
				</td>
            </tr>
            <tr>
            	<th>시작일</th>
                <td colspan="3">
                	<input type='text' id='bn_sdate' name='bn_sdate' class='ed' size='18' maxlength='19' readonly='readonly' value='<?=$row['bn_sdate']?>'/>
                	<button type="button" class="btn_simp" onclick="$('#bn_sdate').val('');">&nbsp;삭제&nbsp;</button>
                	<span class='msgTip'>(미입력시 무제한)</span>
                </td>
            </tr>
            <tr>
            	<th>종료일</th>
                <td colspan="3">
                	<input type='text' id='bn_edate' name='bn_edate' class='ed' size='18' maxlength='19' readonly='readonly' value='<?=$row['bn_edate']?>'/>
                	<button type="button" class="btn_simp" onclick="$('#bn_edate').val('');">&nbsp;삭제&nbsp;</button>
                	<span class='msgTip'>(미입력시 무제한)</span>
                </td>
            </tr>
            
            <? if($w) : ?>
            <tr>
            	<th>등록일</th>
                <td colspan="3"><?=$row['bn_regdate']?></td>
            </tr>
            <tr>
            	<th>최종수정일</th>
                <td colspan="3"><?=$row['bn_mdydate']?></td>
            </tr>
            <? endif; ?>
            
        </table>
	</li>
</ul>

<p class='center bottom'>
	<input type='submit' id='btn_submit' class='btn' value='  확  인  '/>&nbsp;
	<input type='button' class='btn' value='  목  록  ' onclick="document.location.href='<?=$path?>/banner/lists';"/>
</p>
</form>

<div id='loading'></div>

<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#bn_sdate').datetimepicker();
	$('#bn_edate').datetimepicker({
		hour: 23,
		minute: 59,
		second: 59
	});
	
	$('#fwrite').validate({
		rules: {
			bn_image: {
				required: <?=$row['bn_image']?'false':'true'?>,
				accept: 'png|gif|jp?g',
			}
		},
		messages: {
			bn_image: '배너 이미지 파일이 없습니다.'
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		},
		submitHandler: function(f) {
            $('#btn_submit').remove();
			$('#loading').show();
		    f.submit();
		}
	});		
});
//]]>
</script>
