<h2>배너 리스트</h2>

<form name='fsearch' method='post' action='<?=$path?>/banner/lists' onsubmit="return doSearch(this, 'banner/lists');">
<div id='list_head'>
	<ul class='lr'>
		<li class="mT5"><a href='<?=$path?>/banner/lists'>처음</a> (총 <?=$total_cnt?>개)</li>
		<li class='right'>
	        <select name='sfl'>
	            <option value='bn_group'>그룹</option>
	        </select>
	        <select name='stx'>
	        	<option value=''>전체</option>
	        <? foreach($group as $val => $name): ?>
				<option value='<?=$name?>' <?=$val==$stx?'selected="selected"':''?>><?=$name?></option>
			<? endforeach; ?>
			</select>
	        <input type='image' src='<?=$IMG_PATH?>/button/btn_search.gif' align='top'/>
        </li>
    </ul>
</div>
</form>

<form name='fbannerlist' method='post' action=''>
<input type='hidden' name='token' value='<?=$token?>'/>

<div id='list_cont'>
	<table width="100%" cellpadding="0" cellspacing="0" class="con_box2">
		<colgroup>
			<col class="check"/>
			<col/>
			<col width="100"/>
			<col width="100"/>
			<col width="100"/>
			<col class="hidden"/>
			<col class="date"/>
			<col class="control"/>
		</colgroup>
		<tr>
            <th><input type="checkbox" onclick="allcheck(this);"/></th>
            <th>배너 이미지</th>
            <th><a href='<?=$sort_bn_sdate?>'>시작일</a></th>
            <th><a href='<?=$sort_bn_edate?>'>종료일</a></th>
			<th><a href='<?=$sort_bn_type?>'>그룹</a></th>
            <th><a href='<?=$sort_bn_hidden?>'>숨김</a></th>
			<th>등록일</th>
            <th class="nobg"><?=$s_add?></th>
        </tr>
         
        <? foreach ($list as $row): ?>
		<tr>
			<td><input type='checkbox' name='chk[]' value='<?=$row['bn_id']?>'/></td>
			<td class='center'><img src='/useful/thumbnail/180x60/ki_banner/?file=<?=$row['bn_image']?>&ratio=true'/></td>
			<td><?=preg_replace('/ /','<br/>',$row['bn_sdate_conv'])?></td>
			<td><?=preg_replace('/ /','<br/>',$row['bn_edate_conv'])?></td>
			<td><select name='bn_group[<?=$row['bn_id']?>]'>
					<option value=''>선택</option>
					
					<? foreach($group as $val => $name): ?>
					<option value='<?=$val?>' <?=$val==$row['bn_group']?'selected="selected"':''?>><?=$name?></option>
					<? endforeach; ?>
					
				</select>
			</td>
			<td><input type='checkbox' name='bn_hidden[<?=$row['bn_id']?>]' <?=$row['bn_hidden']?'checked="checked"':''?> value='1'/></td>
			<td><?=$row['bn_regdate_conv']?></td>
			<td><?=$row['s_mod']?> <?=$row['s_del']?></td>
		</tr>
		<? endforeach; ?>
		
		<? if (!$list): ?>
		<tr>
			<td colspan="8" height="50"><p class='none'>자료가 없습니다.</p></td>
		</tr>
		<? endif; ?>
		
	</table>
	
	<ul class='lr bottom'>
		<li>
			<input type='button' class='btn' value='선택수정' onclick="javascript:slt_check(this.form, '<?=$path?>/banner/update')"/>
			<input type='button' class='btn' value='선택삭제' onclick="javascript:slt_check(this.form, '<?=$path?>/banner/delete')"/>
		</li>
		<li class='right'><?=$paging?></li>
	</ul>
</div>

</form>

<script type='text/javascript'>
//<![CDATA[
<? if ($stx): ?>
document.fsearch.sfl.value = '<?=$sfl?>';
<? endif; ?>
//]]>
</script>
