<div id="bigImgs" class="box_skitter">
	<ul>
		<? foreach($images AS $img) : ?>
		<li class="menu_img"><img src="<?=$img?>" alt="이미지" /></li>
		<? endforeach; ?>
					
	</ul>
</div>

<script type="text/javascript" src="/src/js/skitter/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/src/js/skitter/js/jquery.animate-colors-min.js"></script>
<script type="text/javascript" src="/src/js/skitter/js/jquery.skitter.min.js"></script>
<script>
$(document).ready(function() {
	$("#bigImgs").skitter({
		animation: "fade",
		interval: -1,
		thumbs: true,
		auto_play: false
	});
});
</script>
