<?php
//*******************************************************************************
// MD5 결제 데이터 암호화 처리
// 형태 : 상점아이디(StoreId) + 주문번호(OrdNo) + 결제금액(Amt)
//*******************************************************************************

$StoreId 	= "aegis";

$AGS_HASHDATA = md5($StoreId . $ordr_no . $amount); 

switch($pay_method) {
	case 'card' :
		$job = 'card';
		break;
	case 'deposit' :
		$job = 'virtual';
		break;
	case 'transfer' :
		$job = 'iche';
		break;
	default :
		$job = 'card';
		break;
}

$shop_conf['pg_code'] = $shop_conf['pg_is_real'] ? $shop_conf['pg_code'] : 'aegis';
?>

<? if($this->config->item('charset') == 'utf-8') : ?>
<script language=javascript src="http://www.allthegate.com/plugin/AGSWallet_utf8.js"></script>
<? else : ?>
<script language=javascript src="http://www.allthegate.com/plugin/AGSWallet.js"></script>
<? endif; ?>
<script language=javascript src="<?=PG_PATH?>/lib/AGS_script.js"></script>
<!-- <script language=javascript src="<?=PG_PATH?>/lib/AGS_script.js"></script> SSL 사용시 -->
<!-- Euc-kr 이 아닌 다른 charset 을 이용할 경우에는 AGS_pay_ing(결제처리페이지) 상단의 
	[ AGS_pay.html 로 부터 넘겨받을 데이터파라미터 ] 선언부에서 파라미터 값들을 euc-kr로
	인코딩 변환을 해주시기 바랍니다. -->

<form name="frmAGS_pay" method="post" action="<?=PG_PATH?>/AGS_pay_ing.php">
<!-- 계좌이체,핸드폰결제를 사용하지 않는 상점은 지불방법을 꼭 신용카드(전용)으로 설정하시기 바랍니다. -->
<!-- 신용카드만 사용하도록 연동 <input type=hidden name=Job value="onlycard"> -->
<!-- 계좌이체만 사용하도록 연동 <input type=hidden name=Job value="onlyiche"> -->
<!-- 핸드폰결제만 사용하도록 연동 <input type=hidden name=Job value="onlyhp"> -->
<!--
<select name=Job style=width:150px onchange="javascript:Display(frmAGS_pay);">
	<option value="" selected>선택하십시오.
	<option value="card">신용카드
	<option value="iche">계좌이체
	<option value="virtual">가상계좌
	<option value="hp">핸드폰결제
	<option value="ars">ARS
	<option value="onlycard">신용카드 (전용)
	<option value="onlyiche">계좌이체 (전용)
	<option value="onlyvirtual">가상계좌 (전용)
	<option value="onlyhp">핸드폰결제 (전용)
	<option value="onlyars">ARS (전용)
	<option value="onlycardselfnormal">신용카드 (일반전용)
	<option value="onlycardselfescrow">신용카드 (에스크로전용)
	<option value="onlyicheselfnormal">계좌이체 (일반전용)
	<option value="onlyicheselfescrow">계좌이체 (에스크로전용)
	<option value="onlyvirtualselfnormal">가상계좌 (일반전용)
	<option value="onlyvirtualselfescrow">가상계좌 (에스크로전용)
	<option value="onlyichebanknormal">계좌이체/인터넷뱅킹 (일반전용)
	<option value="onlyichebankescrow">계좌이체/인터넷뱅킹 (에스크로전용)
	<option value="onlyichetelnormal">계좌이체/텔레뱅킹 (일반전용)
	<option value="onlyichetelescrow">계좌이체/텔레뱅킹 (에스크로전용)
</select>
-->
<input type="hidden" name="Job" value="<?=$job?>">
<!-- <input type=text style=width:100px name=TempJob maxlength=20 value="<?=$job?>">						<!-- 지불방법 직접입력 예) card:iche -->
 
<!-- 공통 변수 -->
<input type=hidden name=StoreId				value="<?=$shop_conf['pg_code']?>">								<!-- 상점아이디 -->
<input type=hidden name=OrdNo				value="<?=$ordr_no?>">											<!-- 주문번호 -->
<input type=hidden name=Amt					value="<?=$amount?>">											<!-- 금액 예) 금액 콤마(,)입력불가 -->
<input type=hidden name=StoreNm				value="<?=$shop_conf['pg_store']?>">							<!-- 상점명 -->
<input type=hidden name=ProdNm				value="<?=$item_name?>">										<!-- 상품명 -->
<input type=hidden name=MallUrl				value="http://<?=$this->input->server('HTTP_HOST')?>">			<!-- 상점URL 주의) 반드시 입력 예) http://www.abc.com -->
<input type=hidden name=UserEmail			value="<?=$order['email']?>">									<!-- 주문자이메일 -->
<input type=hidden name=ags_logoimg_url		value="<?=$shop_logo?>">										<!-- 상점 로고이미지(85 * 38) -->
<input type=hidden name=SubjectData			value="업체명;판매상품;계산금액;2012.09.01 ~ 2012.09.30;">		<!-- 결제창제목입력 1컨텐츠당 5자 이내이며, 상점명;상품명;결제금액;제공기간; 순으로 입력해 주셔야 합니다. -->
<input type=hidden name=UserId				value="<?=$_MEMBER_['mb_id']?>">								<!-- 회원아이디 [신용카드, 핸드폰] 결제와 [현금영수증자동발행]을 사용하시는 경우에 반드시 입력 -->

<!-- 카드 & 가상계좌 결제 사용 변수 -->
<input type=hidden name=OrdNm				value="<?=$order['name']?>">									<!-- 주문자명 -->
<input type=hidden name=OrdPhone			value="<?=$order['mobile1']?>-<?=$order['mobile2']?>-<?=$order['mobile3']?>">	<!-- 주문자연락처 -->
<input type=hidden name=OrdAddr				value="<?=$order['address1']?> <?=$order['address2']?>">		<!-- 주문자주소 -->

<input type=hidden name=RcpNm				value="<?=$delivery['name']?>">									<!-- 수신자명 -->
<input type=hidden name=RcpPhone			value="<?=$delivery['mobile1']?>-<?=$delivery['mobile2']?>-<?=$delivery['mobile3']?>">	<!-- 수신자연락처 -->
<input type=hidden name=DlvAddr				value="<?=$delivery['address1']?> <?=$delivery['address2']?>">	<!-- 배송지주소 -->
<input type=hidden name=Remark				value="<?=$delivery['memo']?>">									<!-- 기타요구사항 -->
<input type=hidden name=MallPage			value="<?=PG_PATH?>/AGS_VirAcctResult.php">						<!-- 가상계좌 입금 완료시 리턴 페이지 -->
<input type=hidden name=VIRTUAL_DEPODT		value="<?=$duedate?>">												<!-- 가상계좌 입금 예정일 -->


<!-- 주문정보 커스터마이징 -->
<input type=hidden name=ss_id				value="<?=$this->session->userdata('ss_cart_id')?>">
<input type=hidden name=order[amount]		value="<?=$amount?>">
<input type=hidden name=order[password]		value="<?=$order['password']?>">
<input type=hidden name=order[name]			value="<?=$order['name']?>">
<input type=hidden name=order[email]		value="<?=$order['email']?>">
<input type=hidden name=order[phone1]		value="<?=$order['phone1']?>">
<input type=hidden name=order[phone2]		value="<?=$order['phone2']?>">
<input type=hidden name=order[phone3]		value="<?=$order['phone3']?>">
<input type=hidden name=order[mobile1]		value="<?=$order['mobile1']?>">
<input type=hidden name=order[mobile2]		value="<?=$order['mobile2']?>">
<input type=hidden name=order[mobile3]		value="<?=$order['mobile3']?>">
<input type=hidden name=order[zipcode1]		value="<?=$order['zipcode1']?>">
<input type=hidden name=order[zipcode2]		value="<?=$order['zipcode2']?>">
<input type=hidden name=order[address1]		value="<?=$order['address1']?>">
<input type=hidden name=order[address2]		value="<?=$order['address2']?>">
<input type=hidden name=delivery[name]		value="<?=$delivery['name']?>">
<input type=hidden name=delivery[email]		value="<?=$delivery['email']?>">
<input type=hidden name=delivery[phone1]	value="<?=$delivery['phone1']?>">
<input type=hidden name=delivery[phone2]	value="<?=$delivery['phone2']?>">
<input type=hidden name=delivery[phone3]	value="<?=$delivery['phone3']?>">
<input type=hidden name=delivery[mobile1]	value="<?=$delivery['mobile1']?>">
<input type=hidden name=delivery[mobile2]	value="<?=$delivery['mobile2']?>">
<input type=hidden name=delivery[mobile3]	value="<?=$delivery['mobile3']?>">
<input type=hidden name=delivery[zipcode1]	value="<?=$delivery['zipcode1']?>">
<input type=hidden name=delivery[zipcode2]	value="<?=$delivery['zipcode2']?>">
<input type=hidden name=delivery[address1]	value="<?=$delivery['address1']?>">
<input type=hidden name=delivery[address2]	value="<?=$delivery['address2']?>">
<input type=hidden name=delivery[memo]		value="<?=$delivery['memo']?>">
<input type=hidden name=delivery[dlv_price]	value="<?=$delivery['dlv_price']?>">

<input type=hidden name=result_url			value="/shop/cart/result">		<!-- 결과값 리턴 URL -->






<!-- 스크립트 및 플러그인에서 값을 설정하는 Hidden 필드  !!수정을 하시거나 삭제하지 마십시오-->

<!-- 각 결제 공통 사용 변수 -->
<input type=hidden name=Flag value="">				<!-- 스크립트결제사용구분플래그 -->
<input type=hidden name=AuthTy value="">			<!-- 결제형태 -->
<input type=hidden name=SubTy value="">				<!-- 서브결제형태 -->
<input type=hidden name=AGS_HASHDATA value="<?=$AGS_HASHDATA?>">	<!-- 암호화 HASHDATA -->

<!-- 신용카드 결제 사용 변수 -->
<input type=hidden name=DeviId value="">			<!-- (신용카드공통)		단말기아이디 -->
<input type=hidden name=QuotaInf value="0">			<!-- (신용카드공통)		일반할부개월설정변수 -->
<input type=hidden name=NointInf value="NONE">		<!-- (신용카드공통)		무이자할부개월설정변수 -->
<input type=hidden name=AuthYn value="">			<!-- (신용카드공통)		인증여부 -->
<input type=hidden name=Instmt value="">			<!-- (신용카드공통)		할부개월수 -->
<input type=hidden name=partial_mm value="">		<!-- (ISP사용)			일반할부기간 -->
<input type=hidden name=noIntMonth value="">		<!-- (ISP사용)			무이자할부기간 -->
<input type=hidden name=KVP_RESERVED1 value="">		<!-- (ISP사용)			RESERVED1 -->
<input type=hidden name=KVP_RESERVED2 value="">		<!-- (ISP사용)			RESERVED2 -->
<input type=hidden name=KVP_RESERVED3 value="">		<!-- (ISP사용)			RESERVED3 -->
<input type=hidden name=KVP_CURRENCY value="">		<!-- (ISP사용)			통화코드 -->
<input type=hidden name=KVP_CARDCODE value="">		<!-- (ISP사용)			카드사코드 -->
<input type=hidden name=KVP_SESSIONKEY value="">	<!-- (ISP사용)			암호화코드 -->
<input type=hidden name=KVP_ENCDATA value="">		<!-- (ISP사용)			암호화코드 -->
<input type=hidden name=KVP_CONAME value="">		<!-- (ISP사용)			카드명 -->
<input type=hidden name=KVP_NOINT value="">			<!-- (ISP사용)			무이자/일반여부(무이자=1, 일반=0) -->
<input type=hidden name=KVP_QUOTA value="">			<!-- (ISP사용)			할부개월 -->
<input type=hidden name=CardNo value="">			<!-- (안심클릭,일반사용)	카드번호 -->
<input type=hidden name=MPI_CAVV value="">			<!-- (안심클릭,일반사용)	암호화코드 -->
<input type=hidden name=MPI_ECI value="">			<!-- (안심클릭,일반사용)	암호화코드 -->
<input type=hidden name=MPI_MD64 value="">			<!-- (안심클릭,일반사용)	암호화코드 -->
<input type=hidden name=ExpMon value="">			<!-- (일반사용)			유효기간(월) -->
<input type=hidden name=ExpYear value="">			<!-- (일반사용)			유효기간(년) -->
<input type=hidden name=Passwd value="">			<!-- (일반사용)			비밀번호 -->
<input type=hidden name=SocId value="">				<!-- (일반사용)			주민등록번호/사업자등록번호 -->

<!-- 계좌이체 결제 사용 변수 -->
<input type=hidden name=ICHE_OUTBANKNAME value="">	<!-- 이체계좌은행명 -->
<input type=hidden name=ICHE_OUTACCTNO value="">	<!-- 이체계좌예금주주민번호 -->
<input type=hidden name=ICHE_OUTBANKMASTER value=""><!-- 이체계좌예금주 -->
<input type=hidden name=ICHE_AMOUNT value="">		<!-- 이체금액 -->

<!-- 핸드폰 결제 사용 변수 -->
<input type=hidden name=HP_SERVERINFO value="">		<!-- 서버정보 -->
<input type=hidden name=HP_HANDPHONE value="">		<!-- 핸드폰번호 -->
<input type=hidden name=HP_COMPANY value="">		<!-- 통신사명(SKT,KTF,LGT) -->
<input type=hidden name=HP_IDEN value="">			<!-- 인증시사용 -->
<input type=hidden name=HP_IPADDR value="">			<!-- 아이피정보 -->

<!-- ARS 결제 사용 변수 -->
<input type=hidden name=ARS_PHONE value="">			<!-- ARS번호 -->
<input type=hidden name=ARS_NAME value="">			<!-- 전화가입자명 -->

<!-- 가상계좌 결제 사용 변수 -->
<input type=hidden name=ZuminCode value="">			<!-- 가상계좌입금자주민번호 -->
<input type=hidden name=VIRTUAL_CENTERCD value="">	<!-- 가상계좌은행코드 -->
<input type=hidden name=VIRTUAL_NO value="">		<!-- 가상계좌번호 -->

<input type=hidden name=mTId value="">	

<!-- 에스크로 결제 사용 변수 -->
<input type=hidden name=ES_SENDNO value="">			<!-- 에스크로전문번호 -->

<!-- 계좌이체(소켓) 결제 사용 변수 -->
<input type=hidden name=ICHE_SOCKETYN value="">		<!-- 계좌이체(소켓) 사용 여부 -->
<input type=hidden name=ICHE_POSMTID value="">		<!-- 계좌이체(소켓) 이용기관주문번호 -->
<input type=hidden name=ICHE_FNBCMTID value="">		<!-- 계좌이체(소켓) FNBC거래번호 -->
<input type=hidden name=ICHE_APTRTS value="">		<!-- 계좌이체(소켓) 이체 시각 -->
<input type=hidden name=ICHE_REMARK1 value="">		<!-- 계좌이체(소켓) 기타사항1 -->
<input type=hidden name=ICHE_REMARK2 value="">		<!-- 계좌이체(소켓) 기타사항2 -->
<input type=hidden name=ICHE_ECWYN value="">		<!-- 계좌이체(소켓) 에스크로여부 -->
<input type=hidden name=ICHE_ECWID value="">		<!-- 계좌이체(소켓) 에스크로ID -->
<input type=hidden name=ICHE_ECWAMT1 value="">		<!-- 계좌이체(소켓) 에스크로결제금액1 -->
<input type=hidden name=ICHE_ECWAMT2 value="">		<!-- 계좌이체(소켓) 에스크로결제금액2 -->
<input type=hidden name=ICHE_CASHYN value="">		<!-- 계좌이체(소켓) 현금영수증발행여부 -->
<input type=hidden name=ICHE_CASHGUBUN_CD value="">	<!-- 계좌이체(소켓) 현금영수증구분 -->
<input type=hidden name=ICHE_CASHID_NO value="">	<!-- 계좌이체(소켓) 현금영수증신분확인번호 -->

<!-- 텔래뱅킹-계좌이체(소켓) 결제 사용 변수 -->
<input type=hidden name=ICHEARS_SOCKETYN value="">	<!-- 텔레뱅킹계좌이체(소켓) 사용 여부 -->
<input type=hidden name=ICHEARS_ADMNO value="">		<!-- 텔레뱅킹계좌이체 승인번호 -->
<input type=hidden name=ICHEARS_POSMTID value="">	<!-- 텔레뱅킹계좌이체 이용기관주문번호 -->
<input type=hidden name=ICHEARS_CENTERCD value="">	<!-- 텔레뱅킹계좌이체 은행코드 -->
<input type=hidden name=ICHEARS_HPNO value="">		<!-- 텔레뱅킹계좌이체 휴대폰번호 -->

<!-- 스크립트 및 플러그인에서 값을 설정하는 Hidden 필드  !!수정을 하시거나 삭제하지 마십시오-->

</form>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	Enable_Flag(frmAGS_pay);

	if(document.AGSPay != null && document.AGSPay.object != null){
		Pay(frmAGS_pay);
	}
});
//]]>
</script>
