<div data-role="header" data-theme="a">
	<h1>홈페이지 이용 만족도는 어떠신가요?</h1>
</div>

<div id="sub_content">
	<form name="fresearch" method="post" action="/rsh_satisfaction/step8" data-transition="slide">
		<div class="ui-field-contain">
			<fieldset data-role="controlgroup">
				<input type="radio" name="homepage" id="radio-choice-1" value="7" checked="checked">
				<label for="radio-choice-1">7점</label>
				<input type="radio" name="homepage" id="radio-choice-2" value="6">
				<label for="radio-choice-2">6점</label>
				<input type="radio" name="homepage" id="radio-choice-3" value="5">
				<label for="radio-choice-3">5점</label>
				<input type="radio" name="homepage" id="radio-choice-4" value="4">
				<label for="radio-choice-4">4점</label>
				<input type="radio" name="homepage" id="radio-choice-5" value="3">
				<label for="radio-choice-5">3점</label>
				<input type="radio" name="homepage" id="radio-choice-6" value="2">
				<label for="radio-choice-6">2점</label>
				<input type="radio" name="homepage" id="radio-choice-7" value="1">
				<label for="radio-choice-7">1점</label>
			</fieldset>
		</div>
		
		<div class="btn_wrap"><input type="image" src="/img/mobile/common/btn_next.png" class="w100p" /></div>
	</form>
</div>
