<div data-role="header" data-theme="a">
	<h1>병원 방문 경로는 어디신가요?</h1>
</div>

<div id="sub_content">
	<form name="fresearch" method="post" action="/rsh_satisfaction/step6" data-transition="slide">
		<div class="ui-field-contain">
			<fieldset data-role="controlgroup">
				<input type="radio" name="route" id="radio-choice-1" value="1" checked="checked">
				<label for="radio-choice-1">타 병원 소개(의료진)</label>
				<input type="radio" name="route" id="radio-choice-2" value="2">
				<label for="radio-choice-2">타 병원 소개(직원)</label>
				<input type="radio" name="route" id="radio-choice-3" value="3">
				<label for="radio-choice-3">타 병원 소개(간병인)</label>
				<input type="radio" name="route" id="radio-choice-4" value="4">
				<label for="radio-choice-4">타 병원 소개(동료환우)</label>
				<input type="radio" name="route" id="radio-choice-5" value="5">
				<label for="radio-choice-5">주변인의 추천</label>
				<input type="radio" name="route" id="radio-choice-6" value="6">
				<label for="radio-choice-6">거리상 가까움</label>
				<input type="radio" name="route" id="radio-choice-7" value="7">
				<label for="radio-choice-7">대중매체(인터넷)</label>
				<input type="radio" name="route" id="radio-choice-8" value="8">
				<label for="radio-choice-8">대중매체(신문)</label>
				<input type="radio" name="route" id="radio-choice-9" value="9">
				<label for="radio-choice-9">기타</label>
			</fieldset>
		</div>
		
		<div class="btn_wrap"><input type="image" src="/img/mobile/common/btn_next.png" class="w100p" /></div>
	</form>
</div>
