<div data-role="header" data-theme="a">
	<h1>성별을 입력하세요.</h1>
</div>

<div id="sub_content">	
	<form name="fresearch" method="post" action="/rsh_seminar/step2" data-transition="slide">
		<div class="ui-field-contain">
			<fieldset data-role="controlgroup">
				<input type="radio" name="sex" id="radio-choice-1" value="남성" checked="checked">
				<label for="radio-choice-1">남자</label>
				<input type="radio" name="sex" id="radio-choice-2" value="여성">
				<label for="radio-choice-2">여자</label>
			</fieldset>
		</div>
	
		<div class="btn_wrap"><input type="image" src="/img/mobile/common/btn_next.png" class="w100p" /></div>
	</form>
</div>
