/* Reset */
/* * { margin:0; padding:0; } */
html { overflow-y:scroll; }
html, body { width:100%; height:100%; }
body { *word-break:break-all; -ms-word-break:break-all; margin:0; padding:0; }
body, input, button { font-size:12px; font-family:"돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; color:#383d41; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
table, tr, td { font-size:12px; }
img, fieldset, iframe { border:0 none; display:block;margin:0; padding:0}
ul, li { list-style:none; margin:0; padding:0; }
a { color:#2f3743; text-decoration:none; }
a:hover { color:#1177dd; text-decoration:underline; }
textarea { overflow:auto; }
html:first-child select { height:20px; padding-right:6px; }
option { padding-right:6px; }
button { cursor:pointer; _cursor /**/:hand; }
button * { position:relative; }
button img { left:-3px; *left:auto; }
behavior: url(ie-css3.htc);
.pointer { cursor:pointer; }
img {display:block}

.ui-content{width:100%;margin:0 auto;border:0px solid}
.menu ul li{float:left;}

.clear{clear:both;}
.ui-footer{ width:100%; margin:0 auto;border: 0px solid;}