<h2><?=$_TITLE_?></h2>

<form id='fwrite' name='fwrite' method='post' action='<?=$path?>/content/form'>
<input type='hidden' name='w'    value='<?=$w?>' />
<input type='hidden' name='token' value='<?=$token?>' />
<input type='hidden' name='ct_id' value='<?=$row['ct_id']?>' />
<input type='hidden' name='qstr' value='<?=$qstr?>' />

<ul id="form_cont">
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 페이지 설정</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
			<tr>
	            <th>컨텐츠 URL</th>
				<td>/<input type="text" class="ed" name="ct_url" maxlength="200" size="30" value="<?=$row['ct_url']?>"/>
					<input type='checkbox' id='cy_hidden' name='ct_hidden' value='1' <?=$row['ct_hidden']?'checked="checked"':''?>/> 숨김
				</td>
			</tr>
			<tr>
	            <th>HTML 파일명</th>
				<td><?=HTML_PATH?>/<input type="text" class="ed" maxlength="20" size="12" name="ct_filename" value="<?=$row['ct_filename']?>"/>.html
				</td>
			</tr>
			<tr>
	            <th>접근권한</th>
				<td>
					<?=$level_select?> 이상 <span class="dgray">(1: 비회원, 2: 정상회원, <?=ADMIN_MIN_LEVEL?>: 관리자)</span>
				</td>
			</tr>
			<tr>
	            <th>레이아웃</th>
				<td>
					<?=$layout_select?>
				</td>
			</tr>
			<tr>
	            <th>모바일 레이아웃</th>
				<td>
					<?=$layout_m_select?>
				</td>
			</tr>
		</table>
	</li>
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 컨텐츠 데이터 설정</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
			<tr>
				<td>
					<ul id="data_list"></ul>
					<div class="pd10 center"><input type="button" class="btn_simp" value=" + 추가 " onclick="add_data_form();"/></div>
				</td>
			</tr>
		</table>
	</li>
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 파라메터 설정</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
			<tr>
				<td>
					<ul id="param_list"></ul>
					<div class="pd10 center"><input type="button" class="btn_simp" onclick="add_param();" value=" + 추가 "/></div>
				</td>
			</tr>
		</table>
	</li>
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 컨텐츠 내용</h3>
		<table width='100%' cellpadding='0' cellspacing='0'>
			<tr>
				<td>
					<?=$editor?>
					<p class="dgray">외부로그인: {{_OUTLOGIN_}}<br/>변수출력: {{데이터이름}} &nbsp; &nbsp; 배열출력: {{데이터이름['키']}} &nbsp; &nbsp; 다차원배열출력: {{데이터이름['키']['키']...}}</p>
				</td>
			</tr>
		</table>
	</li>
	
	<? if($use_mobile) : ?>
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 컨텐츠 내용 (모바일)</h3>
		<table width='100%' cellpadding='0' cellspacing='0'>
			<tr>
				<td>
					<?=$editor_m?>
					<p class="dgray">외부로그인: {{_OUTLOGIN_}}<br/>변수출력: {{데이터이름}} &nbsp; &nbsp; 배열출력: {{데이터이름['키']}} &nbsp; &nbsp; 다차원배열출력: {{데이터이름['키']['키']...}}</p>
				</td>
			</tr>
		</table>
	</li>
	<? endif; ?>
	
</ul>

<p class='center bottom editor' style="margin-top:30px;">
	<input type='submit' id='btn_submit' class='btn' value='  확  인  ' />&nbsp;
	<input type='button' class='btn' value='  목  록  ' onclick="document.location.href='<?=$path?>/content/lists<?=$qstr?>';" />
</p>
</form>

<div id='loading'></div>

<script type="text/javascript">
//<![CDATA[
var beforeUnload = true;
window.onbeforeunload = function() {
	if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
}

$(document).ready(function() {
	$('#fwrite').validate({
		rules: {
			ct_url: { alpha_dash_slash: true },
			ct_filename: { required: true, alpha_dash: true },
			ct_layout: { required: true, alpha_dash: true }
		},
		messages: {
			ct_filename: { required: 'HTML 파일명을 입력하세요.' },
			ct_layout: { required: '레이아웃을 입력하세요.' }
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		},
		submitHandler: function(f) {
            $('#btn_submit').remove();
			$('#loading').show();
			beforeUnload = false;
            Editor.save();
		}
	});

	<? foreach($dbVars AS $key => $data) : ?>
	add_data_form('<?=$data['dbv_id']?>','<?=$data['dbv_var']?>','<?=$data['dbv_type']?>', '<?=$data['dbv_ref_table']?>', '<?=$data['dbv_ref_id']?>', '<?=$data['dbv_ext']?>', '<?=$data['resource']['subject']?>');
	<? endforeach; ?>
});

<? if($row['ct_parameter']): ?>
<? foreach(param_decode($row['ct_parameter']) AS $name => $value): ?>
add_param('<?=$name?>', '<?=$value?>');
<? endforeach; ?>
<? endif; ?>

var select_cnt = '';
var cnt = 0;
var mcnt = 0;
var banner_option =	'<option value="">선택</option>'+
					'<? foreach($banners AS $bn){ echo"<option value=\"".$bn['bg_id']."\">".$bn['bg_name']."</option>"; } ?>';
var board_option =	'<option value="">선택</option>'+
					'<? foreach($boards AS $bo){ echo"<option value=\"".$bo['bid']."\">".$bo['bo_subject']."</option>"; } ?>';
var shop_option =	'<option value="">선택</option>'+
					'<? foreach($shop_cate AS $ca){ echo"<option value=\"".$ca['ca_id']."\">".$ca['ca_name']."</option>"; } ?>';
//]]>
</script>
