<h2>컨텐츠 리스트</h2>

<form name='fsearch' method='post' action='<?=$path?>/content/lists' onsubmit="return doSearch(this, 'content/lists');">
<div id='list_head'>
	<ul class='lr'>
		<li class="mT5"><a href='<?=$path?>/content/lists'>처음</a> (총 <?=$total_cnt?>개)</li>
		<li class='right'>
	        <select name='sfl'>
	            <option value='ct_url'>URL</option>
	        </select>
	        <input type='text' name='stx' class='ed' value='<?=$stx?>'/>
	        <input type='image' src='<?=$IMG_PATH?>/button/btn_search.gif' align='top'/>
        </li>
    </ul>
</div>
</form>

<form name='fcontentlist' method='post' action=''>
<input type='hidden' name='token' value='<?=$token?>'/>

<div id='list_cont'>
	<table width='100%' cellpadding='0' cellspacing='0' class="con_box2">
		<colgroup>
			<col class="check"/>
			<col/>
			<col width="125"/>
			<col width="135"/>
			<col class="155"/>
			<col class="hidden"/>
			<col class="date"/>
			<col width="110"/>
		</colgroup>
		<tr>
            <th><input type="checkbox" onclick="allcheck(this);"/></th>
            <th><a href='<?=$sort_ct_url?>'>URL</a></th>
            <th><a href='<?=$sort_ct_filename?>'>파일명</a></th>
			<th><a href='<?=$sort_ct_layout?>'>레이아웃</a></th>
			<th><a href='<?=$sort_ct_layout_m?>'>모바일 레이아웃</a></th>
            <th><a href='<?=$sort_ct_hidden?>'>숨김</a></th>
            <th>최종수정일</th>
            <th class="nobg"><?=$s_add?></th>
        </tr>
        
        <? foreach ($list as $row): ?>
		<tr class='row list<?=$row['lst']?>'>
			<td>
				<input type='checkbox' name='chk[]' value='<?=$row['ct_id']?>'/>
				<input type='hidden' name='old_url[<?=$row['ct_id']?>]' value='<?=$row['ct_url']?>'/>
				<input type='hidden' name='old_filename[<?=$row['ct_id']?>]' value='<?=$row['ct_filename']?>'/>
			</td>
			<td><input type='text' name='ct_url[<?=$row['ct_id']?>]' class='ed' maxlength='200' size='16' value='<?=$row['ct_url']?>'/></td>
			<td><input type='text' name='ct_filename[<?=$row['ct_id']?>]' class='ed' maxlength='20' size='12' value='<?=$row['ct_filename']?>'/>.html</td>
			<td><?=get_layout_select('ct_layout['.$row['ct_id'].']', $row['ct_layout'])?></td>
			<td><?=get_layout_select('ct_layout_m['.$row['ct_id'].']', $row['ct_layout_m'])?></td>
			<td><input type='checkbox' name='ct_hidden[<?=$row['ct_id']?>]' <?=$row['ct_hidden']?'checked="checked"':''?> value='1'/></td>
			<td><?=$row['ct_mdydate_conv']?></td>
			<td><?=$row['s_mod']?> <?=$row['s_del']?> <?=$row['s_cpy']?> <?=$row['s_pre']?></td>
		</tr>
		<? endforeach; ?>
		
		<? if (!$list): ?>
		<tr>
			<td colspan="8" height="50"><p class='none'>자료가 없습니다.</p></td>
		</tr>
		<? endif; ?>
		
	</table>
	
	<ul class='lr bottom'>
		<li>
			<input type='button' class='btn' value='선택수정' onclick="javascript:slt_check(this.form, '<?=$path?>/content/update');"/>
			<input type='button' class='btn' value='선택삭제' onclick="javascript:slt_check(this.form, '<?=$path?>/content/delete');"/>
		</li>
		<li class='right'><?=$paging?></li>
	</ul>
</div>

</form>

<div id='loading'></div>

<? if ($stx): ?>
<script type='text/javascript'>
//<![CDATA[
document.fsearch.sfl.value = '<?=$sfl?>';
//]]>
</script>
<? endif; ?>

<?=validation_errors('<script>alert("','");</script>');?>
