/* ============================
	basic css end
============================ */


/* margin */
.mt5 {
	margin-top: 5px;
}
.mt15 {
	margin-top: 15px;
}
.mt30 {
	margin-top: 30px;
}
.mt60 {
	margin-top: 60px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb60 {
	margin-bottom: 60px;
}
.ml5 {
	margin-left: 5px;
}
.ml15 {
	margin-left: 15px;
}
.ml30 {
	margin-left: 30px;
}
.ml60 {
	margin-left: 60px;
}
.mr5 {
	margin-right: 5px;
}
.mr15 {
	margin-right: 15px;
}
.mr30 {
	margin-right: 30px;
}
.mr60 {
	margin-right: 60px;
}




/* font size */
.ft-sz100 {
	font-size: 100px !important;
}
.ft-sz40 {
	font-size: 40px !important;
}
.ft-sz30 {
	font-size: 30px !important;
}

.ft-sz26 {
	font-size: 26px !important;
}

.ft-sz20 {
	font-size: 20px !important;
}
.ft-sz18 {
	font-size: 18px !important;
}
.ft-sz16 {
	font-size: 16px !important;
}
.ft-sz14 {
	font-size: 14px !important;
}
.ft-sz12 {
	font-size: 12px !important;
}
.ft-sz00 {
	font-size: 0;
}


/* font weight */
.ft-we100 {
	font-weight: 100;
}
.ft-we200 {
	font-weight: 200;
}
.ft-we300 {
	font-weight: 300;
}
.ft-we400 {
	font-weight: 400;
}
.ft-we500 {
	font-weight: 500;
}
.ft-we600 {
	font-weight: 600;
}
.ft-we700 {
	font-weight: 700;
}
.ft-we800 {
	font-weight: 800;
}
.ft-we900 {
	font-weight: 900;
}


/* font color */
.ft-c00 {
	color: #000000;
}
.ft-c01 {
	color: #ffffff !important;
}
.ft-c02 {
	color: #666666;
}
.ft-c03 {
	color: #555555;
}

/* border */
.border-all {
	border:1px solid #65bb00 !important;
}

.border-t {
	border-top:1px solid #65bb00 !important;
}
.border-l {
	border-left: 1px solid #65bb00 !important;
}
.border-b {
	border-bottom: 1px solid #65bb00 !important;
}
.border-r {
	border-right: 1px solid #65bb00 !important;
}


/* background color */
.bg-c00 {
	background-color: #000000;
}
.bg-c01 {
	background-color: #ffffff !important;
}
.bg-c02 {
	background-color: #202020;
}
.bg-c03 {
	background-color: #33b0f5;
	padding: 100px 0;
}
.bg-c04 {
	background-color: #1e2188;
	padding: 100px 0;
}

/* animation duration */
.ani-a02 {
	-webkit-transition-duration: .2s !important;
	transition-duration: .2s !important;
}
.ani-a04 {
	-webkit-transition-duration: .4s !important;
	transition-duration: .4s !important;
}
.ani-a06 {
	-webkit-transition-duration: .6s !important;
	transition-duration: .6s !important;
}
.ani-a08 {
	-webkit-transition-duration: .8s !important;
	transition-duration: .8s !important;
}
.ani-a10 {
	-webkit-transition-duration: 1.0s !important;
	transition-duration: 1.0s !important;
}


/* animation delay */
.ani-d02 {
	-webkit-transition-delay: .2s !important;
	transition-delay: .2s !important;
}
.ani-d04 {
	-webkit-transition-delay: .4s !important;
	transition-delay: .4s !important;
}
.ani-d06 {
	-webkit-transition-delay: .6s !important;
	transition-delay: .6s !important;
}
.ani-d08 {
	-webkit-transition-delay: .8s !important;
	transition-delay: .8s !important;
}
.ani-d10 {
	-webkit-transition-delay: 1.0s !important;
	transition-delay: 1.0s !important;
}


/* layout */
.wd-1800 {
	max-width: 1800px;
	margin: 0 auto;
}
.wd-1700 {
	max-width: 1700px;
	margin: 0 auto;
}
.wd-1600 {
	max-width: 1600px;
	margin: 0 auto;
}
.wd-1400 {
	max-width: 1400px;
	margin: 0 auto;
}
.wd-1200 {
	max-width: 1200px;
	margin: 0 auto;
}
.wd-1100 {
	max-width: 1100px;
	margin: 0 auto;
}
.wd-1000 {
	max-width: 1000px;
	margin: 0 auto;
}

.pos-relative {
	position: relative;
}
.pos-absolute {
	position: absolute;
}
.pos-fixed {
	position: fixed;
}

.of-hidden {
	overflow: hidden;
}

.dp-none {
	display: none;
}
.dp-block {
	display: block !important;
}
.dp-inline {
	display: inline-block;
}
.dp-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.dp-cell {
	display: table-cell;
}


/* vertical */
.vt-top {
	vertical-align: top !important;
}
.vt-middle {
	vertical-align: middle !important;
}
.vt-bottom {
	vertical-align: bottom !important;
}


/* float */
.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
.fl-none {
	float: none;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	display: block;
	clear: both;
	height: 0;
	content:'';
}


/* center position */
.x-center {
	left: 50%;
	right: auto;
	-webkt-transform: translateX(-50%);
    transform: translateX(-50%);
}
.y-center {
	top: 50%;
	bottom: auto;
	-webkt-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* text slice */
.text-slice {
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/* deco */
.partition {
	position: relative;
}
.partition:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 2px;
	width: 1px;
	height: 100%;
	background-color: #fff;
}
.underscore {
	position: relative;
}
.underscore:after {
	content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 90%;
    background-color: #000;
    -webkit-transition-duration: .4s;
	transition-duration: .4s;
    z-index: 1;
    overflow: hidden;
	opacity: 0.4;
}
.underscore:hover:after {
	width: 100%;
}


/* 라디오 */
.radio_box {
	float: left;
	position: relative;
	margin-right: 10px;
	padding: 0 10px 0 24px;
	height: 46px;
	line-height: 44px;
	font-size: 14px;
	color: #666;
	background: url("../img/icon/radio.png") no-repeat left center
}

.radio_box.active {
	background: url("../img/icon/radio_on.png") no-repeat left center
}

.radio_box .radio {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 15px;
	width: 16px;
	height: 16px;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 10
}

.check_box {
	display: block;
	position: relative;
	margin-right: 30px;
	padding-left: 26px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	color: #666;
	background: url("../img/icon/check.png") no-repeat left center;
}

.check_box.active {
	background: url("../img/icon/check_on.png") no-repeat left center;
}

.check_box .link {
	color: #666;
	text-decoration: underline
}

.check_box .check {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 13px;
	width: 16px;
	height: 16px;
	filter: alpha(opacity=1);
	opacity: 1;
	z-index: 10
}
/* ============================
	basic css end
============================ */


/* ============================
	animation css start
============================ */
@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity:0.2;
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity:1;
	}
}

@keyframes scroll {
  0% {
    opacity: .8;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: .8;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.ani-fade {
    opacity: .8;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
	-webkit-transition: all .6s;
    transition: all .6s;
}
.ani-up-slide {
    opacity: 0;
    position: relative;
    bottom: -100px;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.ani-down-slide {
    opacity: 0;
    position: relative;
    top: -100px;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.ani-left-slide {
    opacity: 0;
    position: relative;
    left: -100px;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.ani-right-slide {
    opacity: 0;
    position: relative;
    right: -100px;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.fade-in {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.slide-up {
    opacity: 1;
    bottom: 0;
}
.slide-down {
    opacity: 1;
    top: 0;
}
.slide-left {
    opacity: 1;
    left: 0;
}
.slide-right {
    opacity: 1;
    right: 0;
}
/* ============================
	animation css end
============================ */
#container {
	outline: none;
}
.skipNav {
	position: relative;
	z-index: 10000;
}
.skipNav li {
	font-size: 0;
	line-height: 0;
}
.skipNav li a {
	position: fixed;
	z-index: 1000;
	top: -100px;
	right: 0;
	left: 0;
	padding: 10px 0;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 2;
	text-align: center;
}
.skipNav li a:focus {
	top: 0;
}

/* more btn */
.more-btn-white {
	display: block;
	position: relative;
	width: 200px;
	height: 50px;
	line-height: 48px;
	border-radius: 50px;
	box-sizing: border-box;
	border: 1px solid rgba(255,255,255,.4);
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.more-btn-white:hover {
	border-color: #00c0ff;
}
.more-btn-white:hover p {
	background-color: #00c0ff;
}


/* arch */
.arch {
	position: relative;
}
.arch:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	width: 1416px;
	height: 112px;
	background-color: #fff;
}
.arch img {
	width: 100%;
}


/* input */
.form-control {
	display: block;
	width: 100%;
	height: 45px;
	margin-bottom: 8px;
	padding: 5px 15px;
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
	color: #444;
	background-image: none;
	border: 1px solid #ccc;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	vertical-align: middle;
}

.form-control.rgba {
	color: #555;
	border: 1px solid #ddd;
	background-color: rgba(0, 0, 0, 0);
}

.form-control-sm {
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 8px;
	padding: 5px 15px;
	font-size: 13px;
	line-height: 1.5;
	text-align: left;
	color: #444;
	background-image: none;
	border: 1px solid #ccc;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	vertical-align: middle;
}

.form-control-sm.rgba {
	color: #666;
	border: 1px solid #ddd;
	background-color: rgba(0, 0, 0, 0);
}

/* btn */
.btn {
	display: inline-block;
	height: 50px;
	padding: 0 15px;
	color: #333;
	font-size: 18px;
	font-weight: normal;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 48px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.2s;
}

.btn:hover {
	color:#fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn.bg-blue {
	color:#fff;
	border-color: #1e2c67;
	background-color: #1e2c67;
}

.btn.bg-black {
	border-color: #333;
	background-color: #333;
}

.btn.bg-black:hover {
	border-color: #555;
	background-color: #555;
}

.btn.bg-red {
	border-color: #d52949;
	background-color: #d52949;
}

.btn.bg-red:hover {
	border-color: #f75371;
	background-color: #f75371;
}

.btn.bg-default {
	color: #333;
	border-color: #333;
	background-color: rgba(0, 0, 0, 0);
}

.btn.bg-default:hover {
	color: #fff;
	border-color: #aaa;
	background-color: #aaa;
}

.btn.bg-green {
	color: #fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn.bg-green:hover {
	border-color: #65bb00;
	background-color: #65bb00;
}


.btn-sm {
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 38px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: rgba(0,0,0,0);
	transition: all 0.2s;
}

.btn-sm:hover {
	color:#fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn-sm.bg-blue {
	border-color: #1e2c67;
	background-color: #1e2c67;
}

.btn-sm.bg-black {
	border-color: #333;
	background-color: #333;
}

.btn-sm.bg-black:hover {
	border-color: #666;
	background-color: #666;
}

.btn-sm.bg-red {
	border-color: #d52949;
	background-color: #d52949;
}

.btn-sm.bg-red:hover {
	border-color: #f75371;
	background-color: #f75371;
}

.btn-sm.bg-default {
	color: #333;
	border-color: #333;
	background-color: #fff;
}

.btn-sm.bg-default:hover {
	color: #fff;
	border-color: #ccc;
	background-color: #ccc;
}

.btn-sm.bg-green {
	color: #fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn-sm.bg-green:hover {
	border-color: #65bb00;
	background-color: #65bb00;
}

.btn-xs {
	display: inline-block;
	min-width:80px;
	height: 28px;
	padding: 0 9px;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 26px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.2s;
}

.btn-xs:hover {
	color: #fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn-xs.bg-blue {
	color: #fff;
	border-color: #3758e3;
	background-color: #3758e3;
}

.btn-xs.bg-black {
	color: #fff;
	border-color: #333;
	background-color: #333;
}

.btn-xs.bg-black:hover {
	border-color: #666;
	background-color: #666;
}

.btn-xs.bg-red {
	color: #fff;
	border-color: #d52949;
	background-color: #d52949;
}

.btn-xs.bg-red:hover {
	border-color: #f75371;
	background-color: #f75371;
}

.btn-xs.bg-default {
	color: #333;
	border-color: #333;
	background-color: #fff;
}

.btn-xs.bg-default:hover {
	color: #fff;
	border-color: #ccc;
	background-color: #ccc;
}

.btn-xs.bg-green {
	color: #fff;
	border-color: #6ec700;
	background-color: #6ec700;
}

.btn-xs.bg-green:hover {
	border-color: #65bb00;
	background-color: #65bb00;
}

.btn-xs.bg-yellow {
	color: #fff;
	border-color: #f3d92d;
	background-color: #f3d92d;
}

.btn-xs.bg-yellow:hover {
	border-color: #f3d92d;
	background-color: #f3d92d;
}

.btn-xs.bg-brown {
	color: #fff;
	border-color: #8c543b;
	background-color: #8c543b;
}

.btn-xs.bg-brown:hover {
	border-color: #8c543b;
	background-color: #8c543b;
}


/* text-align */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

@media screen and (max-width:1023px){

	.ft-sz18 {
		font-size: 28px !important;
	}

	/* btn */
	.btn {
		height: 85px;
		font-size: 32px;
		line-height: 83px;
	}

	.btn img {
		width: 38px;
		margin-right: 20px;
		margin-top: -6px;
	}

	.btn-sm {
		height: 70px;
		font-size: 26px;
		line-height: 68px;
	}
}