a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle3 { text-align:center; }
#container_56d2fcb6 { vertical-align: top; position:relative; display: inline-block; width:87%; min-height:475px; background:none;  }
#container_56d2fcb6_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:justify; }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0; line-height: 1.5;  }
#img_6530c995 { vertical-align: bottom; position:relative; display: inline-block; width:34%; background:none;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle7 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#img_52fa8e25 { vertical-align: bottom; position:relative; display: inline-block; width:36%; background:none;  }
.textstyle8 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle9 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
#youtube_33e818a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:101%; height:300px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0000FF; font-weight:bold; line-height: 1.5;  }
.textstyle11 { text-align:right; }
.textstyle12 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#img_7b322585 { vertical-align: bottom; position:relative; display: inline-block; width:101%; background:none;  }
.textstyle13 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
