<form id='flogin' name='flogin' method='post' action='<?=$action?>'>
<input type='hidden' name='mb_id' value='<?=$mb_id?>'/>
<input type='hidden' name='token' value='<?=$token?>'/>

<div id='member_wrap' class="modify_bg">
	<ul id='login_header'>
		<li class='infor'>
			<p>
				<label for='mb_id'><img src='<?=IMG_DIR?>/member/i_id.gif' alt='아이디' /></label>
				<input class="box_white" type="text" name="mb_id" id="mb_id" value="<?=$mb_id?>" readonly="readonly" hname="아이디" style="width:150px; background:#eee;" tabindex="1"/>
			</p>
        	<p>
				<label for='mb_password'><img src='<?=IMG_DIR?>/member/i_pw.gif' alt='비밀번호' /></label>
				<input class="box_white" type="password" name="mb_password" id="mb_password" required="required" hname="패스워드" onkeypress="javascript:check_capslock(event, this);" style="width:150px;"/ tabindex="2">
			</p>
		</li>
		<li class="bt_login"><input type='image' src='<?=IMG_DIR?>/member/btn_login.jpg' align='bottom'/></li>
	</ul>

	<ul id='login_footer'>
		<li><a href='#'>주문/배송조회</a></li>
		<li><a href='<?=RT_PATH?>/member/leave'>회원탈퇴</a></li>
	</ul>

</div>
</form>


<script type='text/javascript' src='<?=JS_DIR?>/capslock.js'></script>
<script type="text/javascript" src='<?=JS_DIR?>/jvalidate.js'></script>
<script type="text/javascript" src='<?=JS_DIR?>/jvalid_ext.js'></script>
<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#flogin').validate({
		rules: {
			mb_id: { required:true, minlength:3, alphanumunder:true },
			mb_password: 'required'
		},
		messages: {
			mb_id: { required:'아이디를 입력하십시오.', minlength:'최소 3자 이상 입력하십시오.' },
			mb_password: '비밀번호를 입력하십시오.'
		},
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent()).css('margin', '-5px 0 5px 0');
		}
	});
});
//]]>
$('#mb_password').focus();
</script>
