<form id='fpassword' name='fpassword' method='post'>
<input type='hidden' name='token' value='<?=$token?>'/>

<h2><?=$_TITLE_?></h2>

<ul id='form_cont'>
	<li>
		<h3 class="mB10"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 현재 비밀번호 확인</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
			<tr>
				<th>현재 비밀번호 입력</th>
				<td><input type='password' id='old_password' name='old_password' class='ed' maxlength='20' size='20' /></td>
			</tr>
		</table>
		
		<h3 class="mB10" style="margin-top:40px;"><img src="<?=$IMG_PATH?>/icon_dot.gif" /> 새 비밀번호 설정</h3>
		<table width='100%' cellpadding='0' cellspacing='0' class="con_box1">
			<tr>
				<th>새 비밀번호 입력</th>
				<td><input type='password' id='new_password' name='new_password' class='ed' maxlength='20' size='20' /></td>
			</tr>
			<tr>
				<th>새 비밀번호 재입력</th>
				<td><input type='password' id='new_password_re' name='new_password_re' class='ed' maxlength='20' size='20' /></td>
			</tr>
		</table>	
	</li>
</ul>

<p class='center bottom'>
	<input type='submit' id='btn_submit' class='btn' value='  확  인  '/>
</p>

</form>

<div id='loading'></div>

<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#fpassword').validate({
		rules: {
			old_password: { required:true, minlength:4 },
			new_password: { required:true, minlength:4 },
			new_password_re: { required:true, equalTo:'#new_password' },
		},
		messages: {
			old_password: { required:'현재 비밀번호를 입력하십시오.', minlength:'최소 4자 이상 입력하십시오.' },
			new_password: { required:'새 비밀번호를 입력하십시오.', minlength:'최소 4자 이상 입력하십시오.' },
			new_password_re: { required:'새 비밀번호 확인을 입력하십시오.', equalTo:'비밀번호가 일치하지 않습니다.' }
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		},
		submitHandler: function(f) {
            $('#btn_submit').remove();
			$('#loading').show();
		    f.submit();
		}
	});
});
//]]>
</script>
