<form id='fwrite' name='fwrite' method='post' action='<?=$path?>/popup/form'>
<input type='hidden' name='w'    value='<?=$w?>'/>
<input type='hidden' name='token' value='<?=$token?>'/>
<input type='hidden' name='pu_id' value='<?=$row['pu_id']?>'/>

<div id='form_title'>
	&deg; <b><?=$_TITLE_?></b>
</div>

<ul id="form_cont">
	<li class="form_li">
		<div>
			<h4>정보 입력</h4>
			<dl>
				<dt>팝업 제목</dt>
				<dd>
					<input type='text' id='pu_name' name='pu_name' class='ed' size='50' maxlength='20' value='<?=$row['pu_name']?>'/>
					<input type='checkbox' id='pu_hidden' name='pu_hidden' value='1' <?=$row['pu_hidden']?'checked="checked"':''?>/> 숨김
				</dd>
				<dt>팝업 형식</dt>
				<dd>
					<input type='radio' name='pu_type' value='0'/> 일반팝업
					<input type='radio' name='pu_type' value='1'/> 고정레이어
				</dd>
				<dt>시작일</dt>
				<dd class="hor">
					<input type='text' id='pu_sdate' name='pu_sdate' class='ed' size='18' maxlength='19' readonly='readonly' value='<?=$row['pu_sdate']?>'/>
				</dd>
				<dt>종료일</dt>
				<dd>
					<input type='text' id='pu_edate' name='pu_edate' class='ed' size='18' maxlength='19' readonly='readonly' value='<?=$row['pu_edate']?>'/>
				</dd>
				<dt class="cb">가로 크기</dt>
				<dd class="hor">
					<input type='text' id='pu_width' name='pu_width' class='ed right' size='5' maxlength='5' value='<?=$row['pu_width']?>'/>px
				</dd>
				<dt style="">세로 크기</dt>
				<dd>
					<input type='text' id='pu_height' name='pu_height' class='ed right' size='5' maxlength='5' value='<?=$row['pu_height']?>'/>px
				</dd>
				<dt class="cb">X 위치</dt>
				<dd class="hor">
					<input type='text' id='pu_x' name='pu_x' class='ed right' size='5' maxlength='5' value='<?=$row['pu_x']?>'/>px
				</dd>
				<dt>Y 위치</dt>
				<dd>
					<input type='text' id='pu_y' name='pu_y' class='ed right' size='5' maxlength='5' value='<?=$row['pu_y']?>'/>px
				</dd>
				
				<? if(isset($row['pu_regdate'])): ?>
				<dt>등록일</dt>
				<dd>
					<?=$row['pu_regdate']?>
				</dd>
				<? endif; ?>
				<? if(isset($row['pu_mdydate'])): ?>
				<dt>최종수정일</dt>
				<dd>
					<?=$row['pu_mdydate']?>
				</dd>
				<? endif; ?>
				
				<dd>
					<?=$editor?>
				</dd>
			</dl>
		</div>
	</li>
</ul>

<p class='center bottom editor' style="margin-top:30px;">
	<input type='submit' class='btn' value='  확  인  '/>&nbsp;
	<input type='button' class='btn' value='  목  록  ' onclick="document.location.href='<?=$path?>/popup/lists';"/>
</p>
</form>

<div id='loading'></div>

<script type='text/javascript'>
//<![CDATA[
document.fwrite.pu_type[<?=$row['pu_type']?>].checked = true;

var beforeUnload = true;
window.onbeforeunload = function() {
	if (beforeUnload) return '이 페이지를 벗어나시면 작성 중인 글이 지워집니다.';
}

$(document).ready(function() {
	$('#pu_sdate').datetimepicker();
	$('#pu_edate').datetimepicker({
		hour: 23,
		minute: 59,
		second: 59,
	});

	$('#fwrite').validate({
		rules: {
			pu_name: 'required',
			pu_sdate: 'required',
			pu_edate: 'required',			
			pu_width: { required:true, min:50 },
			pu_height: { required:true, min:50 },
			pu_x: { required:true, min:0 },
			pu_y: { required:true, min:0 }
		},
		messages: {
			pu_name: '팝업 제목을 입력하세요.',
			pu_sdate: '시작일을 입력하세요.',
			pu_edate: '종료일을 입력하세요.',
			pu_width: '50 이상 입력하세요.',
			pu_height: '50 이상 입력하세요.',
			pu_x: '숫자가 아닙니다.',
			pu_y: '숫자가 아닙니다.'
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		},
		submitHandler: function(f) {
            $('#btn_submit').remove();
			$('#loading').show();
			beforeUnload = false;
            Editor.save();
		}
	});
});

//]]>
</script>

<?=validation_errors('<script>alert("','");</script>');?>
