a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_56d2fcb6 { vertical-align: top; position:relative; display: inline-block; width:87%; min-height:475px; background:none;  }
#container_56d2fcb6_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:justify; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0; line-height: 1.5;  }
#img_7f47f038 { vertical-align: bottom; position:relative; display: inline-block; width:34%; background:none;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle5 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#img_5353c50c { vertical-align: bottom; position:relative; display: inline-block; width:36%; max-width:350px; background:none;  }
.textstyle6 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle8 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#008040; line-height: 1.5;  }
.textstyle9 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#008040; font-weight:bold; line-height: 1.5;  }
#img_55b54d88 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none;  }
.textstyle10 { text-align:left; }
.textstyle11 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic; line-height: 1.5;  }
.textstyle12 { text-align:right; }
.textstyle13 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#img_6762d277 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle14 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3564bc16 { vertical-align: top; position:relative; display: inline-block; width:87%; min-height:418px; background:none;  }
#container_3564bc16_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#youtube_38d296dd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:62%; height:268px; min-width:300px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
