<style type="text/css">
<!--
.ui-datepicker-calendar { display: none; }
-->
</style>

<br/><p><h3>- <?=$_TITLE_?></h3></p>

<form name='fvisit' method='get' action='<?=$path?>/visit/daily' onsubmit='return fvisit_submit(this)'>
<div style="float:right;margin:20px 75px 10px 0;">
	<input type='text' id='s_mm' name='s_mm' class='ed' size='10' maxlength='10' readonly='readonly' onchange="document.fvisit.submit();" value='<?=$s_mm?>'/>
	<input type='image' src='<?=$img_path?>/btn_search.gif' align='top'/>
</div>
</form>

<img id="gchart"/>

<script type='text/javascript'>
//<![CDATA[
function fvisit_submit(f) {
    location.href = rt_path + '/' + rt_admin + '/visit/lists/page/1/from/' + f.fr_date.value + '/to/' + f.to_date.value;
    return false;
}

$(document).ready(function(){
	$('#s_mm').timepicker({
		currentText: '이번달',
		dateFormat: 'yy년 mm월',
		showTimepicker: false,
		defaultDate: $.datepicker.parseDate("yy년 mm월 dd", "<?=$s_mm?> 01") 
	});
	
	// 차트 API
	$('#gchart').attr('src',
		'http://chart.apis.google.com/chart?cht=bvg&'+
		'chs=800x370&'+
		'chd=t:<?foreach($list as $day => $val){?><?=$val['count']?><?=count($list)!=$day?',':''?><?}?>&'+
		'chxr=1,0,<?=$max_count?>&'+
		'chds=0,<?=$max_count?>&'+
		'chco=FFA000,FFC000,FFE000&'+
		'chbh=7,1,15&'+
		'chxt=x,y,x,r&'+
		'chxl=0:|<?foreach($list as $day => $val){?><?=$day?>|<?}?>2:||&'+
		'chm=<?foreach($list as $day => $val){?>t<?=$val['count']?$val['count']:''?>,000000,0,<?=$day-1?>,9,1<?=count($list)!=$day?'|':''?><?}?>&'+
		//'chdl=접속|로그인|회원가입&'+
		'chdl=접속&'+
		'chg=0,5,1,3'
	);
});
//]]>
</script>
