<form id='fboardpassword' name='fboardpassword' method='post' action='<?=RT_PATH?>/<?=$action?>'>
<?=INPUT_ADMIN?>
<input type='hidden' name='w'           value='<?=$w?>'/>
<input type='hidden' name='bid'    		value='<?=BO_TABLE?>'/>
<input type='hidden' name='wr_id'       value='<?=$wr_id?>'/>
<input type='hidden' name='comment_id'  value='<?=$comment_id?>'/>
<input type='hidden' name='qstr'  		value='<?=$qstr?>'/>

<div id='pwd_wrap' class="mT40" style="padding-bottom:50px;">
	<h3 id='pwd_title' class="mB10"><img src="<?=IMG_DIR?>/board/password_txt.gif" alt="비밀번호 확인" /></h3>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" id='pwd_cont'>
    	<tr>
        	<th align="left" width="120" class="b_b_n"><label for='wr_password'>비밀번호</label></th>
            <td class="b_b_n b_r_n" style="line-height:22px;"><input type='password' id='wr_password' name='wr_password' class='ed' maxlength='20' size='15' onkeypress="javascript:check_capslock(event, this);"/><br />이 게시물의 비밀번호를 입력하십시오</td>
        </tr>
    </table>
    <div class="mT30 btn_c">
        <span><input type='image' src='<?=IMG_DIR?>/board/btn_pass_ok.gif'/></span>
        <span><a href="javascript:;" onclick="history.go(-2);"><img src='<?=IMG_DIR?>/board/btn_pass_cancel.gif'/></a></span>
    </div>
</div>

</form>

<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#fboardpassword').validate({
		rules: { 
			wr_password: { required:true, minlength:4 }
		},
		messages: {
			wr_password: { required:'비밀번호를 입력하십시오.', minlength:'최소 4자 이상 입력하십시오.' }
		},
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		showErrors: function(errorMap, errorList) {
			if (errorList && errorList[0]) {
				alert(errorList[0].message);
			}
		}
	});
});
//]]>
</script>
